# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and large files
data/
data_daily/
plot/
plot_ml_trades/
Reports/Cache/
.~lock*
*.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS metadata
Thumbs.db
ehthumbs.db
Desktop.ini
